<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <ul class="nav">
      <li {% if page.path == "index.html" %}class="active"{% endif %}>
        <a href="index.html">Home</a>
      </li>
      <li {% if page.path == "getstarted.html" %}class="active"{% endif %}>
        <a href="getstarted.html">Get started</a>
      </li>
      <li {% if page.path == "config.html" %}class="active"{% endif %}>
        <a href="config.html">Configure</a>
      </li>
      <li {% if page.path == "precompiler.html" %}class="active"{% endif %}>
        <a href="precompiler.html">Precompile</a>
      </li>
      <li {% if page.path == "contribute.html" %}class="active"{% endif %}>
        <a href="contribute.html">Contribute</a>
      </li>
      <li {% if page.path == "about.html" %}class="active"{% endif %}>
        <a href="about.html">About</a>
      </li>
    </ul>
  </div>
</div>