footer {
  background-color: #eeeeee;
  padding-top: 2em;
}

.home header {
  margin-top: 4em;
  margin-bottom: 4em;
}

.home h1 {
  text-align: center;
  color: #603d00;
  font-family: 'Stint Ultra Expanded', cursive;
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 200;
  margin-top: 0.8em;
  margin-bottom: 0.6em;
}

.home h1 small {
  color: #9e9e9e;
  font-weight: 100;
}

.home .text-or {
  text-align: center;
  font-size: 2em;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.home .well {
  padding: 11px;
  margin-bottom: 0;
}

.home .install {
  margin-top: 1em;
}

@media (min-width: 768px) and (max-width: 979px) {
  .woodman {
    background: transparent url('../images/woodman-bg-small.png') left bottom no-repeat fixed;
  }
  .sidemenu {
    margin-left: 0 !important;
    width: 20% !important;
  }
  .main {
    width: 75% !important;
  }
}

@media (min-width: 980px) {
  .woodman {
    background: transparent url('../images/woodman-bg.png') left bottom no-repeat fixed;
  }
}
